#formAuth {
    -fx-background-color: rgb(0, 191, 192);
}

#sbur, #mainBox {
    -fx-background-color: rgb(0, 126, 123);
}

#tableServer, #tableHome {
    -fx-background-color: rgb(234, 193, 191);
}

.tree-table-view .column-header {
    -fx-border-color: rgb(234, 193, 191);
}

.column-header-background {
    -fx-border-color: rgb(0, 0, 0);
}