#formAuth {
    -fx-background-color: linear-gradient(#46cccd 3%,#6957ca);
}

#sbur, #mainBox {
    -fx-background-color: linear-gradient(#46cccd,#6957ca);
}

#tableServer, #tableHome {
    -fx-background-color: #46cccd;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
}

.tree-table-view .column-header {
    -fx-background-color: #46cccd;
}

/*.column-header-background {*/
/*    -fx-border-color: rgb(0, 0, 0);*/
/*}*/

.button {
    -fx-border: none;
    -fx-color: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
}