#formAuth {
    -fx-background-color: rgb(0, 191, 192);
}

#sbur, #mainBox {
    -fx-background-color: rgb(0, 126, 123);
}

#tableServer, #tableHome {
    -fx-background-color: rgb(234, 193, 191);
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
}

.tree-table-view .column-header {
    -fx-border-color: rgb(234, 193, 191);
}

.column-header-background {
    -fx-border-color: rgb(0, 0, 0);
}

.button {
    /*-fx-background-color: #4CAF50; !* Green *!*/
    -fx-border: none;
    -fx-color: white;
    /*-fx-padding: 20px 50px;*/
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    /*-fx-font-size: 8px;*/
}